<!DOCTYPE HTML>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FC 登 录</title>
	<link rel="shortcut icon" th:href="@{favicon.ico}" />
	<link rel="stylesheet" th:href="@{/css/loginStyle.css}" />
	<!-- 兼容IE8 -->
	<!-- <link rel="stylesheet" th:href="@{/css/fallback.css}" /> -->
</head>
	<body>
		<div id="container">
			<form th:action="@{/chat}" method="post">
				<div class="login" th:text="#{login.top}">LOGIN</div>
				<div class="username-text" th:text="#{login.username}">Username:</div>
				<div class="password-text" th:text="#{login.password}">Password:</div>
				<div class="username-field">
					<input type="text" name="username" value="" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label th:text="#{login.remeber}" for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd" >[[#{login.forget}]] <a href="#" >[[#{login.username}]]</a> [[#{login.or}]] <a href="#" >[[#{login.password}]]</a>?</div>
				<input type="submit" name="submit" th:value="#{login.submit}" value="GO" />
			</form>
		</div>
		<div id="footer">
			<a id="zh_CN" th:href="@{/login.html(lg='zh_CN')}">中文</a>|<a id="en_US" th:href="@{/login.html(lg='en_US')}">英文</a>
		</div>
<div style="display:none">
</div>
</body>
</html>